
.about-section{
	padding-top:40px;
}
.about-image {
    position: relative;
}
.about-image::before {
    position: absolute;
    content: '';
    background-image: url(https://i.ibb.co/d6KQxz0/dots.jpg);
    background-position: center center;
    background-size: 100%;
    width: 375px;
    height: 350px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
}
.about-image .single-image {
    width: 360px;
}
.float-left {
    float: left;
}
.about-image .single-image img {
    width: 100%;
}
.about-image .single-image.image-tow {
    margin-top: -200px;
    position: relative;
    z-index: 5;
}

.about-image .single-image {
    width: 360px;
    min-height: 100%;
}
.float-right {
    float: right;
}
.about-content h3{
	color:#333;
	font-family: 'Poppins', sans-serif;
	padding-bottom:10px;
}

.about-content p{
	margin-bottom: 0px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #646464;
	font-family: 'Poppins', sans-serif;
}
.main-btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    border: 1px solid #eb3656;
    padding: 0 30px;
    line-height: 48px;
    color: #fff;
    transition: all .8s ease-out 0s;
    background-color: #eb3656;
    letter-spacing: 2px;
    text-transform: uppercase;
	text-decoration:none;
}

.main-btn:hover{
	background:#333;
	color:#fff;
	border-color:#333;
    transition: all .8s ease-out 0s;
	text-decoration:none;
}